@model EntityLayer.Concrete.ForgetPasswordViewModel


<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>